<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/settings/1.0.0"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
      <servers>
        <server>
            <id>snapshots</id>
            <username>tekton-paas</username>
            <password>tektonpaas20240125</password>
        </server>
        <server>
            <id>releases</id>
            <username>tekton-paas</username>
            <password>tektonpaas20240125</password>
        </server>
      </servers>
      <mirrors>
            <mirror>
                <id>public</id>
                <mirrorOf>public</mirrorOf>
                <url>http://artifactory.f5.cnqd.cnamts.fr/artifactory/developpement</url>
            </mirror>
        </mirrors>
        <profiles>
            <profile>
                    <id>default-cnam-profile</id>
                    <activation>
                          <activeByDefault>true</activeByDefault>
                    </activation>
                    <properties>
                      <altSnapshotDeploymentRepository>snapshots::default::http://artifactory.f5.cnqd.cnamts.fr/artifactory/java-snapshot-local</altSnapshotDeploymentRepository>
                      <altReleaseDeploymentRepository>releases::default::http://artifactory.f5.cnqd.cnamts.fr/artifactory/java-release-local</altReleaseDeploymentRepository>
					  <sonar.host.url>http://localhost:9000</sonar.host.url>
					</properties>
                    <repositories>
                          <repository>
                                  <id>public</id>
                                  <url>http://artifactory.f5.cnqd.cnamts.fr/artifactory/developpement</url>
                                  <releases>
                                        <enabled>true</enabled>
                                  </releases>
                                  <snapshots>
                                        <enabled>true</enabled>
                                  </snapshots>
                          </repository>
                    </repositories>
                    <pluginRepositories>
                          <pluginRepository>
                                  <id>public</id>
                                  <url>http://artifactory.f5.cnqd.cnamts.fr/artifactory/developpement</url>
                                  <releases>
                                        <enabled>true</enabled>
                                  </releases>
                                  <snapshots>
                                        <enabled>true</enabled>
                                  </snapshots>
                          </pluginRepository>
                    </pluginRepositories>
            </profile>
        </profiles>
      <localRepository>repo</localRepository>
</settings>